
body{
    background-image: url(./assets/images/background/bg_main.gif);
    background-size: cover;
}

.wrepper_area{
    max-width: 1000px;
    margin:  0 auto;
    padding: 0 20px;
}
.header_area{
    
}
.header_top{
    background-color: #9E5BBA;
    height: 35px;
    margin-top: 0;
    color: #ffff;
    line-height: 35px;
    padding: 0 10px;
    border-bottom: 2px solid red
}

.header_top a{
    color: #fff;
    text-decoration: none;
}

.brand{
    margin: 0 40px;
    height: 110px;
}
.admin{
   margin: 30px 0;
}

.search_Area

.s-link .img{
    padding-right: 10px;
}


.navbar{
    width: 100%;
    padding: 0 40px !important;
}

.navbar-nav .nav-item:hover{
    background-color: #9E5BBA;
}

.navbar-nav .nav-item:hover a{
    color: #fff;
}


.banner{
    border: 1px solid red;
    padding: 10px;
}

.bennar img{
    width: 100%;
}


.slider img{
    height: 300px;
}


.sideber img{
    width: 100%;
    margin: 10px 0;
}

.tab{
    padding: 0 1rem;
}

.videp iframe{
    width: 100%;
    height: 14rem;

}
.footer{
    margin-top: 2rem;
}
.footer_top{
    background-image: url(./assets/images/footer/footer_top_bg.png);
    background-size: 100% 80px;
    height: 80px;
    width: 100%;
}

.menu-buttom{
    margin-left: 20px;
}
.footer-buttomb{
    border-bottom: 6px solid #9E5BBA;
}