*{
    margin: 0 auto;
    padding: 0 auto;
    outline: 0 auto;
}

.header{
    width: 1200px;
    height: 100px;
    background: rgb(12, 231, 85);
    padding: 10px;
}

.logo img{
    width: 100px;
    height: 100px;
    float: left;
}

.menu{
    float: right;
}

.menu ul li{
    float: left;
}